*{margin:0;padding:0;box-sizing:border-box;}
body{
background:#000;
color:#eaeaea;
font-family:Arial, Tahoma, Verdana, sans-serif;
cursor:crosshair;
padding:20px;
}
h1,h2{
font-family:"Times New Roman", serif;
color:#b10000;
margin-bottom:10px;
}
.blink{animation:blink 1s steps(1) infinite;}
@keyframes blink{50%{opacity:0;}}
p{font-size:16px;margin-bottom:10px;}
button{
background:#2b6fa3;
border:1px solid #111;
color:white;
padding:8px 18px;
font-size:15px;
}
.profile{
border:1px solid #333;
background:#050505;
padding:10px;
margin-bottom:15px;
display:flex;
gap:15px;
}
.profile img{
width:150px;
height:150px;
object-fit:cover;
}
.desc{font-size:19px;}
.desc b{font-size:21px;color:#b10000;}
input{background:#111;border:1px solid #333;color:#fff;padding:6px;margin-bottom:10px;width:200px;}
