body {
  background: #050505;
  color: #e5e5e5;
  font-family: "Times New Roman", serif;
  text-align: center;
  padding: 40px;
}

.button {
  display: inline-block;
  margin-top: 20px;
  padding: 12px 30px;
  background: darkred;
  color: white;
  text-decoration: none;
}

.card img {
  width: 200px;
  height: 260px;
  object-fit: cover;
}
img {
  width: 100%;
  height: 220px;
  object-fit: cover;
  border: 1px solid #b00000;
  filter: grayscale(30%) contrast(120%);
}
img:hover {
  filter: grayscale(0%) contrast(140%);
}
